*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    float: right;
    padding-right: 5%;
}
ul li {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
     padding: 20px;
} 
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color:blue;

}

ul li a:hover{
    color: white;
}
#logo{
    font-size: xx-large;
    color: green;
    font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   padding-left:50px;
   padding-top: 35px;
   cursor: pointer;
}
body{
    background-image: url(../max-saeling-_CGxNOLM1gQ-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
/* .img{
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}
 */

 .text{
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    font-style: oblique;
    padding-top: 15%;
    font-weight: 600;
    /* transform: translateY(-50%); */
    /* position: absolute; */
    margin-right: 50%;
 }
 span{
color: brown;
 }
 h3{
    color: grey;
    font-style: inherit;
    line-height: 150px;
 }
 .text p{
    /* font-size: large; */
    margin: 40px 0px;
 }
 .btn{
    border-radius: 30px;
    color: black;
    background-color: blue;
    cursor: pointer;
 }