*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    float: right;
    padding-right: 5%;
}
ul li {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
     padding: 20px;
} 
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color:blue;

}

ul li a:hover{
    color: chocolate;
}
#logo{
    font-size: xx-large;
    color: green;
    font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
   padding-left:50px;
   padding-top: 35px;
   cursor: pointer;
   background: darkred;
}
body{
    background-image: url(../max-saeling-_CGxNOLM1gQ-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
/* .img{
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}
 */

 .text{
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    font-style: oblique;
    padding-top: 15%;
    font-weight: 600;
    /* transform: translateY(-50%); */
    /* position: absolute; */
    margin-right: 50%;
 }
 span{
color: brown;
 }
 h3{
    color: grey;
    font-style: inherit;
    line-height: 150px;
 }
 .text p{
    /* font-size: large; */
    margin: 40px 0px;
 }
 .btn{
    border-radius: 30px;
    color: black;
    background-color: blue;
    cursor: pointer;
    width: 130px;
    height: 50px;
 }
 .wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(12, 206, 240);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39%;
    margin-top: 10%;
    transition: height -2s ease;
  }
  
  .wrapper.active {
    height: 520px;
  }
  
  .wrapper .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: black;
    font-size: 3em;
    color: white;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  
  .wrapper .form-box {
    width: 100%;
    padding: 20px;
  }
  
  .wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
  }
  
  .wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
  }
  
  .wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
  }
  
  .wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
  }
  
  .form-box h2 {
    color: black;
    font-size: 2em;
    padding-left: 60px;
  }
  
  .input-box {
    position: relative;
    width: 80%;
    height: 50px;
    border-bottom: 1px solid;
    margin: 20px;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
    font-weight: 600;
    padding: 0 35px 5px;
  }
  
  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -5px;
  }
  
  .input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
  }
  
  .remember-forgot {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 10px;
  }
  
  .button {
    width: 100%;
    height: 30px;
    background: rgb(54, 79, 60);
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: large;
  }
  
  .login-register {
    font-weight: 500;
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0px 10px;
  }
  
  .login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login-register p a:hover {
    text-decoration: underline;
  }
  
  .remember-forgot a {
    color: black;
    text-decoration: none;
  }
  
 