*{
    margin: 0;
    padding: 0;
}

ul{
    float: right;
    padding-right: 5%;
}
ul li {
    display: flex;
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
     padding: 20px;
} 
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    

}

ul li a:hover{
    color: skyblue;
}
#logo{
    font-size: xx-large;
    color: rgb(16, 103, 164);
    font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   padding-left:50px;
   padding-top: 30px;
}
body{
    background-image: url(../max-saeling-_CGxNOLM1gQ-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.img{
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}

